.*.sw[a-z]
.sw[a-z]
*.un~
.bundle
.DS_Store
.erlang.cookie
.idea
.rspec-local
.sass-cache
.test_queue_stats*
.vagrant/
.byebug_history
GIT_STATUS_AT_BUILD
REVISION
/coverage
config/database.local.yml
exchange-rates-*
freeagent.tmproj
log/*
!log/.keep
node_modules
package-lock.json
private
private/*
public/javascripts/*_packaged.js
public/javascripts/tmp
.sass-cache
public/javascripts/*_packaged.js
public/stylesheets/*_packaged.css
public/system/
public/assets/
sftp-config.json
spec/reports
spec/results
tags
tmp/*
xe-historical-rates.xml
zeus.json
spec/tmp/
/public/packs-test/
/public/packs
/node_modules
/public/packs
/public/packs-test
/node_module
public/.assets_precompile_stats
config/assets_s3.yaml
yarn-error.log
npm-debug.log
.tags
.vscode-ctags
TAGS
.envrc
.projectfile
.projectile
# Ignore uploaded files in development
/storage/*
/yarn-error.log
yarn-debug.log*
.yarn-integrity
yarn.lock
.yarn.lock
.vscode
.gitignore
bin/
.solargraph.yml
.yardoc/